@import "../../base";

.wineForm {
  &_add_btn {
    @include button(
      $primary-darkColor900,
      $primary-lightColor,
      $primary-darkColor800
    );
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  &_form {
    @include form($primary-lightColor, $primary-darkColor900, 5px, 3%);

    &_item {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5%;
      }

      input {
        margin-bottom: 10px;
        padding: 1%;
      }
    }
    &_btn {
      display: flex;
      justify-content: center;
      gap: 1%;

      &_cancel {
        @include button($primary-lightColor, $primary-darkColor900, null);
        width: 50%;
        margin-top: 3%;

        &:hover {
          border: 1px solid $primary-darkColor900;
        }
      }

      &_add {
        @include button(
          $primary-darkColor900,
          $primary-lightColor,
          $primary-darkColor800
        );
        width: 50%;
        margin-top: 3%;
      }
    }
  }
}
