@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

$primary-darkColor900: black;
$primary-darkColor800: #2e2d2d;
$primary-lightColor: white;
$primary-tatiColor: rgb(221, 218, 186);

$primary-font: "Rubik", sans-serif;

@mixin button($background-color, $text-color, $hover-background-color) {
  background-color: $background-color;
  color: $text-color;
  padding: 1%;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $hover-background-color;
  }
}

@mixin form($background-color, $border-color, $border-radius, $padding) {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $padding;
}
