@import "./base";

.home {
  background-color: $primary-tatiColor;
  height: 100vh;
  width: 100%;

  h1 {
    text-align: center;
    padding-top: 10%;
  }

  &_header {
    display: flex;
    justify-content: space-between;
  }
}
