@import "../../base";

.editWine {
  &_edit_btn {
    @include button($primary-lightColor, $primary-darkColor900, null);
    width: 100%;
    margin-top: 3%;

    &:hover {
      border: 1px solid $primary-darkColor900;
    }
  }

  &_form {
    @include form(null, none, 5px, 3%);
    width: 100%;

    &_item {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5%;
      }

      input {
        margin-bottom: 10px;
        padding: 1%;
      }
    }

    &_edit_btn {
      @include button($primary-lightColor, $primary-darkColor900, null);
      width: 100%;
      margin-top: 3%;
    }

    &_close_btn {
      @include button(
        $primary-darkColor900,
        $primary-lightColor,
        $primary-darkColor800
      );
      width: 100%;
      margin-top: 3%;
    }
  }
}
