@import "../base";

.wineList {
  background-color: $primary-tatiColor;
  &_title {
    text-align: center;
  }

  &_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
    text-align: left;
    border: 1px solid #1b1b1b;
    margin-top: 3%;

    th,
    td {
      width: 1%;
      border: 1px solid #1b1b1b;
    }

    th {
      vertical-align: top;
      border: 1px solid #1b1b1b;

      padding: 0.75rem;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        text-align: center;
      }
    }

    td {
      padding: 0.75rem;
    }

    &_delete_btn {
      @include button(
        $primary-darkColor900,
        $primary-lightColor,
        $primary-darkColor800
      );
      width: 100%;
      margin-top: 3%;
    }

    label {
      position: relative;
    }

    select {
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      border-color: $primary-lightColor;
      padding: 5%;
      margin-top: 5%;
    }
  }
}
